asgiref==3.2.3
astroid==2.1.0
Beaker==1.10.0
BootstrapPy==0.6
bootstraps==1.0.1
certifi==2019.11.28
chardet==3.0.4
cloudpickle==1.2.2
cycler==0.10.0
decorator==4.3.0
defusedxml==0.6.0
Django==3.1.13
django-braces==1.14.0
django-cors-headers==3.2.1
django-oauth-toolkit==1.2.0
django-rest-framework-social-oauth2==1.1.0
django-rest-passwordreset==1.1.0
django-versatileimagefield==2.0
djangorestframework==3.11.0
djangorestframework-simplejwt==4.4.0
FormEncode==1.3.1
future==0.18.2
Genshi==0.7.1
gym==0.15.4
idna==2.8
isort==4.3.4
Jinja2==2.10
kiwisolver==1.1.0
lazy-object-proxy==1.3.1
MarkupSafe==1.1.0
matplotlib==3.1.2
mccabe==0.6.1
numpy==1.15.4
oauth2-provider==0.0
oauthlib==3.1.0
opencv-python==4.1.2.30
Paste==3.0.4
PasteDeploy==1.5.2
PasteScript==2.0.2
Pillow==7.0.0
pyglet==1.3.2
Pygments==2.2.0
PyJWT==1.7.1
pylint==2.2.2
pyparsing==2.4.6
python-dateutil==2.8.1
python-magic==0.4.15
python-magic-bin==0.4.14
python-social-auth==0.3.6
python3-openid==3.1.0
pytz==2019.3
quantities==0.12.2
requests==2.22.0
requests-oauthlib==1.3.0
scipy==1.4.1
semantic==1.0.3
simplejson==3.16.0
six==1.14.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
SQLAlchemy==1.2.14
sqlparse==0.3.0
Tempita==0.5.2
transaction==2.4.0
urllib3==1.25.8
WebError==0.13.1
WebHelpers==1.3
WebOb==1.8.4
wrapt==1.11.1
zope.interface==4.6.0
zope.sqlalchemy==1.0
